.page-enter-active,
.page-leave-active {
  transition: opacity .5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.flow-down-before-enter {
  // opacity: 0;
  // transform: translateY(-50%);
}
.flow-down-enter {
  animation: flowDown 1.5s;
  // transform: translateY(0%);
  // transition: all .2s ease-in;
}
@keyframes flowDown {
    0% {
        transform: translateY(-15%);
    }
    100% {
        transform: translateY(0%);
    }
}

.flow-up-before-enter {

}
.flow-up-enter {
  animation: flowUp 1.5s;
}
@keyframes flowUp {
    0% {
        transform: translateY(15%);
    }
    100% {
        transform: translateY(0%);
    }
}