// .page-enter-active,
// .page-leave-active {
//   transition: opacity .5s;
// }

// .page-enter,
// .page-leave-to {
//   opacity: 0;
// }

.page-enter-active,
.page-leave-active {
  opacity: 1;
  transition: opacity .25s;
  animation-duration: .5s;
  animation-fill-mode: both;
}
.page-enter-active {
  animation-name: pageFadeInUp;
}
.page-leave-active {
  animation-name: pageFadeOutDown;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
@-webkit-keyframes pageFadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 1.25%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes pageFadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 1.25%, 0);
  }
}


.flow-down-before-enter {
  // opacity: 0;
  // transform: translateY(-50%);
}
.flow-down-enter {
  animation: flowDown 1.5s;
  // transform: translateY(0%);
  // transition: all .2s ease-in;
}
@keyframes flowDown {
    0% {
        opacity: 0;
        transform: translateY(-15%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.flow-up-before-enter {

}
.flow-up-enter {
  animation: flowUp 1.5s;
}
@keyframes flowUp {
    0% {
        opacity: 0;
        transform: translateY(15%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

// Globally used
@keyframes fromTransparent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}