// Basic colors
$white: #F6F6F6 !default;

$grey: #606060 !default;

$black: #000000 !default;

// Brand Colors
$ufo-d3: #229652 !default;
$ufo-d2: #26a65b !default;
$ufo-d1: #2ab764 !default;
$ufo: #2ecc71 !default;
$ufo-l1: #37d278 !default;
$ufo-l2: #48d583 !default;

// Aliases
$green: $ufo;