// @font-face {
//     src: url('/assets/fonts/BarlowGX.woff2');
//     font-family: 'Barlow';
//     font-style: normal;
// }

// Typography
$font-family-sans: Nunito, Quicksand, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;

// Grid
$width: 100%;
$width-sm: 100%;
$width-lg: 100%;
$gutter: 4%;
$breakpoint-xs: 25em; // 400px
$breakpoint-sm: 33.75em; // 540px
$breakpoint-md: 45em; // 720px
$breakpoint-lg: 60em; // 960px


/*
** COLORS
*/

// Basic colors
$white: #F6F6F6 !default;

$grey: #606060 !default;

$black: #000000 !default;

// Brand Colors
$ufo-d3: #229652 !default;
$ufo-d2: #26a65b !default;
$ufo-d1: #2ab764 !default;
$ufo: #2ecc71 !default;
$ufo-l1: #37d278 !default;
$ufo-l2: #48d583 !default;

// Aliases
$green: $ufo;
