// utility helpers
.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.justify {
    text-align: justify;
}

.hidden-sm {
    display: none;
}

.mb-sm-1 {
    margin-bottom: 1rem;
}
.mb-sm-2 {
    margin-bottom: 2rem;
}

@media only screen and (min-width: $breakpoint-md) {
    .hidden-sm {
        display: block;
    }
    .mb-sm-1,
    .mb-sm-2 {
        margin-bottom: inherit;
    }
}